package layout

type BaseProps struct {
    Title string
}
templ Base(props BaseProps) {
    <html>
        <head>
            <title>{props.Title}</title>
            <link rel="stylesheet" href="/assets/main.css">
        </head>
        <body>
            @header()
            <div class="container mx-auto py-4">
                {children...}
            </div>
        </body>
    </html>
}

templ header() {
    <header class="navbar bg-primary text-primary-content" hx-boost="true">
        
    </header>
}